In [1]:
import pandas as pd

In [2]:
    nov18f = "data/france/tsv/clickstream-frwiki-2018-11.tsv"
    dec18f = "data/france/tsv/clickstream-frwiki-2018-12.tsv"
    jan19f = "data/france/tsv/clickstream-frwiki-2019-01.tsv"
    feb19f = "data/france/tsv/clickstream-frwiki-2019-02.tsv"
    mar19f = "data/france/tsv/clickstream-frwiki-2019-03.tsv"

    NOV18, DEC18, JAN19, FEB19, MAR19 = 0, 1, 2, 3, 4

    months = ["Nov '18", "Dec '18", "Jan '19", "Feb '19", "Mar '19"]
    paths = [nov18f, dec18f, jan19f, feb19f, mar19f]

    def explore_tsv(file):
        df = pd.read_csv(file, sep='\t', header=0)
        df.columns = ['from', 'article_title', 'type', 'count']
        return df

In [3]:
def top_n_search(month_id, n):
    
    df = explore_tsv(paths[month_id])
    df_search = df[df['from']=='other-search']
    dftop = df_search.sort_values(['count'], ascending=False)[:n]
    return dftop

In [4]:
top_n_search(NOV18, 3)

                 from                          article_title      type   count
3076673  other-search                        Freddie_Mercury  external  730379
3098707  other-search  La_Vérité_sur_l'affaire_Harry_Quebert  external  592669
573613   other-search                               Stan_Lee  external  388250

In [5]:
top_n_search(DEC18, 3)

                 from                          article_title      type   count
451723   other-search            Mouvement_des_Gilets_jaunes  external  356218
189325   other-search                        Freddie_Mercury  external  269269
1441504  other-search  La_Vérité_sur_l'affaire_Harry_Quebert  external  268130

In [6]:
top_n_search(JAN19, 3)

,from,article_title,type,count
3733376,other-search,Emiliano_Sala,external,767670
2421558,other-search,Bilal_Hassani,external,387874
2596381,other-search,Championnat_du_monde_masculin_de_handball_2019,external,372017

In [7]:
top_n_search(FEB19, 3)

                 from    article_title      type    count
3258280  other-search   Karl_Lagerfeld  external  1031709
3401427  other-search    Emiliano_Sala  external   406180
2130420  other-search  Freddie_Mercury  external   337720

In [8]:
top_n_search(MAR19, 3)

                 from    article_title      type   count
1754249  other-search       Luke_Perry  external  527085
411306   other-search  Freddie_Mercury  external  320180
1275146  other-search         Moldavie  external  271502